<h1>Supercars</h1>

<%= link_to "New Supercar", new_supercar_path%>

<div id="supercars">
  <% debug @supercars%>
  <% @supercars.each do |product| %>
    <div>
      <a href="/supercars/<%= product.id%>">
      <%= product.name %>
      </a>
    </div>
  <% end %>
</div>
